@tailwind base;
@tailwind utilities;
@tailwind components;

@responsive {
  /** Header 2**/
  .navbar {
    @apply absolute w-screen rounded-b-xl shadow-lg border
     border-gray-400 py-3 bg-white flex justify-around items-center align-bottom;
    top: 5%;
  }
  .menu-icon {
    cursor: pointer;
    background-color: red;
  }
  .menu-bar {
    content: "";
    position: relative;
    background-color: black;
    top: 5px;
    right: 8px;
    height: 4px;
    width: 2rem;
    margin: 4px 0px;
  }
  .brand {
    @apply text-3xl font-semibold font-serif text-black w-2/4 cursor-pointer;
  }
  .nav-items {
    @apply flex font-semibold text-gray-600 cursor-pointer mx-2;
  }
  .special {
    @apply px-3 py-1 text-gray-900  border border-black rounded-md;
  }
  .nav-items:hover {
    @apply text-black;
    margin-bottom: 1px;
  }
}
